.form-control {
    margin-top: 5px;
    margin-bottom: 5px;
}

.ui.menu {
    padding: 10px;
    margin-bottom: 30px;
}

.ui.search.dropdown {
    z-index: 2;
}

.ui.circular.button {
    background: transparent;
}

.ui.search.dropdown {
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}

.filterCell {
    margin-bottom: 15px;
}
.ui.input>input, .ui.input>input:focus, .ui.input>input:active,
    .ui.search.selection.dropdown>input.search, .ui.form input
{
    box-shadow: inset 0 1px 2px rgb(0 0 0 / 30%)!important;
    background-color: transparent!important;
}

.ui.dimmer {
    background-color: rgba(0,0,0,0.5);
}