.dict__item {
    background: transparent;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-top: 5px;
    margin-bottom: 5px;

}

.dict__title {
    background: lightgray;
    border-radius: 10px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-left: 0.1rem;
    margin-right: 0.1rem;
}

.form-control {
    margin: 0;
    padding: 0;
}

.pagination__wrapper {
    margin-bottom: 0;
}