.cartCell {
    display: flex!important;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
}
.cartRow {
    display: flex!important;
    cursor: default;
    justify-content: space-between!important;
    padding-left: 20px!important;
    /*margin-top: 0px!important;*/
}
.cellPrice {
    display: flex!important;
    justify-content: flex-end!important;
    width: 150px!important;
}
.cellQuantity {
    width: 150px!important;
}
.cartModal {

}
.actions {
    flex-direction: column;
    justify-content: right;
    padding-left: 25px;
}
.total_wrapper {
    margin-bottom: 15px;
    padding-inline: 20px;
    /*width: 50px!important;*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.quantity_input {
    width: 50px;
    margin-inline: 10px;
    text-align: center;
}

.buttonAddRemove {
    background: white!important;
}

.ui.dimmer {
    background-color: rgba(0,0,0,0.55);
}
