.drop_module {
    width: 180px;
    height: 180px;

}
.drop_area {
    width: 180px;
    height: 180px;
    border: dashed 3px royalblue;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}